<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Things to do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color='light' *ngFor="let todo of value" class="card">
    <ion-card-header>
      <ion-card-title>{{todo.name}}</ion-card-title>
      <ion-card-subtitle>{{todo.type}}</ion-card-subtitle>
      <ion-card-subtitle>{{todo.place}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{todo.description}}
    </ion-card-content>
  </ion-card>

</ion-content>
