<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot='start'>
      <ion-button (click)="closeModal()">
        <ion-icon slot='icon-only' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description">
    {{value}}
  </div>

</ion-content>
