<ion-header>
  <ion-toolbar>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let country of countries | async" [routerLink]="['/countryDetails/', country.id]" detail="true"
      lines="full">
      <ion-avatar slot="start">
        <ion-img [src]="country.flag"></ion-img>
      </ion-avatar>
      <ion-label>
        <h1>{{ country.name }}</h1>
        <p>{{ country.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
