<ion-header>
  <ion-toolbar>
    <ion-title>Items to bring</ion-title>
    <ion-buttons slot='start'>
      <ion-button (click)="saveAndQuit()">
        <ion-icon slot='icon-only' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let entry of items">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [checked]="entry.checked" [(ngModel)]="entry.checked"
        [ngModelOptions]="{standalone: true}"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
