ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
}

.situation-0 {
  background-color: green;
}

.situation-1 {
  background-color: yellow;
}

.situation-2 {
  background-color: red;
}

.emergency-number {
  --color: var(--ion-color-danger);
  font-size: 100%;
}
