<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="country">{{ country?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="country">
  <ion-card>
    <ion-img *ngIf="country.picture" src="{{ country.picture }}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ country.continent }}</ion-card-subtitle>
      <ion-card-title>{{ country.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ country.description }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">Emergency numbers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let elem of country.emergencyNumbers | keyvalue">
          <ion-label>{{ elem.key }}</ion-label>
          <ion-note slot="end" class="emergency-number">{{ elem.value }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Political situation
        <span class="situation-{{ country.politicalSituation.stability }} dot"></span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ country.politicalSituation.comment }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item disabled="{{ country.todoList.length ? 'false' : 'true' }}" (click)="showToDo()" detail="true">
          <ion-icon name="eye" slot="start"></ion-icon>
          <ion-label>
            Things to see
          </ion-label>
        </ion-item>
        <ion-item disabled="{{ country.itemsToBring.length ? 'false' : 'true' }}" (click)="showItems()" detail="true">
          <ion-icon name="briefcase" slot="start"></ion-icon>
          <ion-label>
            Items to bring
          </ion-label>
        </ion-item>
        <ion-item disabled="{{ country.recentHistory.length ? 'false' : 'true' }}" (click)="showArrays('Recent history', country.recentHistory)" detail="true">
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-label>
            Recent history
          </ion-label>
        </ion-item>
        <ion-item disabled="{{ country.localLaws.length ? 'false' : 'true' }}" (click)="showArrays('Local laws', country.localLaws)" detail="true">
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label>
            Local laws
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
